---
layout: default
---

<div class="home">

  {{ content }}

  {% assign posts = site.posts %}
  {% assign pages = site.pages %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="box home-box">
      <div class="post-list">
        {% for page in site.categories %}
          <a class="page-link" href="{{ page.url }}">
            <h3>{{ page.title | escape }}</h3>
          </a>
        {%- endfor -%}
      </div>
    </div>

  {%- endif -%}
